extends layout

block content
  div
    a(id='sender')='Send a Message'
    ul(id='receiver')
  div
    strong test
    h1(id="test1") test1
    button(class="utton", data-action="bea") uttonBea

    div
      block gmap
