body {
    margin: 0px;
    min-height: 480px;
    font-family: Arial;
}

form ul {
    margin: 0px;
    padding: 6px;
    list-style-type: none;
}

form ul li {
    margin: 0 0 4px 0;
    -webkit-border-radius: 4px;
    border: 1px solid #666666;
    padding: 4px;
}

form ul li.naked {
    -webkit-border-radius: 0px;
    border: 0;
    padding: 0;
}

input, textarea {
    -webkit-appearance: none;
    border: 1 solid #666666;
    width: 99%;
}

input[type=submit] {
    border: 1px solid white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0,
    #F8F8F8), color-stop(1.0, #AAAAAA));
    -webkit-border-radius: 6px;
    -webkit-box-shadow: 0 0 4px #333333;
    width: 100%;
    padding: 6px;
}

h1.simple {
    font-size: 0.9em;
    padding: 4px;
    background: #333333;
    color: #AAAAAA;
    border-bottom: 2px solid #AAAAAA;
    margin: 0 0 4px 0;
}

h1.fancy {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0,
    #666666), color-stop(0.5, #3A3A3A), color-stop(0.5, #222222), color-stop(1.0, #000000));
    -webkit-box-shadow: 0 2px 1px #AAAAAA;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    font-size: 1.1em;
    color: white;
    padding: 10px 8px;
    margin: 0 6px 6px 6px;
    text-align: center;
}


/*
When errors found on new task fields
*/
input.invalid, textarea.invalid {
    /*background: url(someerrorimage.png) no repeat 2px 2px;*/
    /* change this */
    background: color solid black no repeat 2px 2px;
    padding-left: 22px;
}

#errors {
    margin: 8px 6px 2px 6px;
    padding: 6px 14px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0,
    #cc0000), color-stop(0.7, #770022));
    -webkit-border-radius: 4px;
    color: white;
    display: none;
}


/*
orientation query
*/
@media all and (orientation:portrait) {
    h1 {
        color: red;
    }
}

@media all and (orientation:landscape) {
    h1 {
        color: blue;
    }
}

/*
width query
*/
@media only screen and (max-width: 480px) {
    h1 {
        color: red;
    }
}

@media only screen and (min-width: 481px) {
    h1 {
        color: blue;
    }
}
