extends ../layout

block loginform
  p Log In
  form(method='post', action='auth/login')
    p
     label User
     input(type='text',name='user')
    p
      label Password
      input(type='password', name='pass')
    p
      input(type='submit', name='submit')
