extends andrlayout

block addtask
  div
    h1 Create Task
    form(action="/andr/addnewtask", method='post')
      div
        fieldset(data-role="taskdetails")
          label(for="taskname") Task Name:
          input(type="text", name="task[name]", id="taskname", value="")
      div
        label(for="taskdesc") Task Description:
        textarea(name="task[description]", rows="5")
      div
        label(for="taskdue") Task Due:
        input(type="text", name="task[due]", id="taskdue")
      div
        input(type="submit", name="Save") Save