!!! 5
//if lt IE 7
  html.no-js.ie6.oldie(lang='en')
//if IE 7
  html.no-js.ie7.oldie(lang='en')
//if IE 8
  html.no-js.ie8.oldie(lang='en')
//[if gt IE 8]><!
html.no-js(lang='en')
    //<![end if]
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        title=title
        link(media='only screen and (max-device-width: 480px)', href='/css/andrsmallscreen.css', type='text/css', rel='stylesheet')
        link(media='only screen and (min-device-width: 481px)', href='/css/andrlargescreen.css', type='text/css', rel='stylesheet')
        meta(name="description", content=description)
        meta(name="viewport", content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0')
        link(rel='stylesheet', href='/css/andrstyle.css')
    body(onload="window.scrollTo(0,1);")
        block header

        block content

        block addtask
s
        block footer
          footer
            script(defer, src='/socket.io/socket.io.js')
            script(defer, data-main='/js/lib/andrmainrequire.js', src='/js/lib/require.js')
            //if lt IE 7
              script(defer, src='//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js')
              script(defer)
                window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})